{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
     <section class="containerForm">
        <div class="row">
            <div class="col">
            {{ form_start(registrationForm) }}
        <h4 class="formTitle">Inscription</h4>
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.RGPDConsent) }}

        <div id="btnLogout"><button type="submit" class="btn btn-primary btn-lg my-2">M'inscrire</button></div>
        <a href="{{ path('app_login') }}" >Revenir au formulaire de connexion</a>
    {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
